<div class='clearfix' style='padding: 20px;height: calc(100% - 40px);'>
    <div class="ta-sub-view-field-extraction tbStep-view-kv-extraction">
        <div class="tbStep-view-title">
            <a class="ta-sub-view-return-link">
                <%- _.t("Extract Fields")%>
            </a>
            <span class="ta-sub-view-connector"> >> </span>
            <span class="ta-sub-view-subtitle"><%- sourcetype %></span>
        </div>
        <div class="tbStep-view-help-link">
            <span class="help-description">
                <%= helplink.description %>
                <a class="external" target="_blank" href="<%- helplink.url %>">
                    <%- _.t('Learn more') %>
                </a>
            </span>
        </div>
        <div class="tbStep-view-content">
        </div>
    </div>
</div>
