<div class="ta-sub-view-content" style="width:100%;height:100%;">
    <div class="ta-sub-view-validation-content">
        <div class='ta-sub-view-validation-controller-container'>
            <div class="ta-validation-package pull-right">
                <div class="ta-download-block-container">
                    <div class="ta-control-btn-container">
                        <a class="btn btn-download">
                            <%- _.t('Download Package') %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ta-validation-overall-container">
            <h3>
                <%- _.t('Overall Health Report') %>
            </h3>
            <div class="ta-section-left">
                <div class="ta-section-top">
                    <div class="ta-health-score-container"></div><div class="ta-certification-ready-banner"></div>
                </div>
                <div class="ta-section-bottom"></div>
            </div><div class="ta-section-right"></div>
        </div>
        <div class="ta-validation-detail-container dashboard-row">
            <h3>
                <%- _.t('Validation Results') %>
            </h3>
            <div class="ta-validation-detail-table dashboard-panel"></div>
        </div>
    </div>

</div>
