$theme: "";
$tabuilderOrange: #f07a35;
$tabuilderWhite: #fff;
$tabuilderBlack: #000;
$tabuilderBackgroudGray: #eee;
$tabuilderGroupBorderColor: #d5d5d5;
$tabuilderFontBlack: #333;
$tabuilderSuccessColor: #65a637;
$tabuilderErrorColor: #d6563c;
$tabuilderWarningColor: #d99f0d;

$tabuilderHeaderHeight: 40px;

h1, .modal-title {
    font-size: 16px;
}