<div class="ta-icon-radio" data-value='<%= value %>'>
    <div class="ta-icon-radio-subtitle ta-icon-radio-text">
        <%- subtitle %>
    </div>
    <div class="ta-icon-radio-title ta-icon-radio-text">
        <%- title %>
    </div>
    <div class="ta-icon-radio-description ta-icon-radio-text">
        <div class="ta-icon-radio-desc-text">
            <%- description %>
        </div>
    </div>
    <div class="ta-icon-radio-icon">
        <div class="ta-icon-large <%- icon %>"></div>
    </div>
</div>
