<div class="ta-playground-component-label">Checkbox</div>
<div class="">
    <label>Display label</label>
    <input type="text" class="component_property_field" name="label" value="<%- label %>" />
</div>
<div class="">
    <label>Internal name</label>
    <input type="text" class="component_property_field" name="name" value="<%- name %>" />
</div>
<div class="">
    <label>Help text</label>
    <textarea name="help_string" rows="4" placeholder="Optional. Max 200 characters"><%- help_string %></textarea>
</div>
