<div class="dropdown_option_value">
    <div class="input_row_field">
        <input type="text" name="option_label" value="<%- option_label %>" />
    </div>
    <div class="input_row_field">
        <input type="text" name="option_value" value="<%- option_value %>" />
    </div>
    <div class="input_row_field radio">
        <input type="radio" name="option_default_value" <%- checked %> />
    </div>
    <div class="input_row_field iconx">
        <a href="#"><img class="iconx" src=<%- iconx %>></img></a>
    </div>
</div>
