<div class="technology_option">
    <div class="arf-basic modularalert-input">
        <input type="text" class="form-control" name="modular_alert_vendor" value="<%- vendor_value %>" />
    </div>
    <div class="arf-basic modularalert-input">
        <input type="text" class="form-control" name="modular_alert_product" value="<%- product_value %>" />
    </div>
    <div class="arf-basic modularalert-input">
        <input type="text" class="form-control" name="modular_alert_version" value="<%- version_value %>" />
    </div>
    <!-- <div class="arf-basic modularalert-input iconx">
        <a href="#"><img class="iconx" src="<%- iconx %>"></img></a>
    </div> -->
<div>
