$taGroupColor0: #d1e69f;
$taGroupColor1: #fae3a9;
$taGroupColor2: #e6a8b4;
$taGroupColor3: #aec7e8;
$taGroupColor4: #f7c8a9;
$taGroupColor5: #f6dad4;
$taGroupColor6: #c3bed8;
$taGroupColor7: #9edae5;
$taGroupColor8: #c49c94;
$taGroupColor9: #c7c7c7;
$taGroupColor10: #2ca02c;
$taGroupColor11: #bcbd22;
$taGroupColor12: #d62728;
$taGroupColor13: #1f77b4;
$taGroupColor14: #ff7f0e;
$taGroupColor15: #e377c2;
$taGroupColor16: #9467bd;
$taGroupColor17: #17becf;
$taGroupColor18: #8c564b;
$taGroupColor19: #7f7f7f;

.event-content .ta-color-group-0{
    border-top: 3px solid $taGroupColor0;
}
.ta-color-group-0{
    background: $taGroupColor0;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-1{
    border-top: 3px solid $taGroupColor1;
}
.ta-color-group-1{
    background: $taGroupColor1;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-2{
    border-top: 3px solid $taGroupColor2;
}
.ta-color-group-2{
    background: $taGroupColor2;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-3{
    border-top: 3px solid $taGroupColor3;
}
.ta-color-group-3{
    background: $taGroupColor3;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-4{
    border-top: 3px solid $taGroupColor4;
}
.ta-color-group-4{
    background: $taGroupColor4;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-5{
    border-top: 3px solid $taGroupColor5;
}
.ta-color-group-5{
    background: $taGroupColor5;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-6{
    border-top: 3px solid $taGroupColor6;
}
.ta-color-group-6{
    background: $taGroupColor6;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-7{
    border-top: 3px solid $taGroupColor7;
}
.ta-color-group-7{
    background: $taGroupColor7;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-8{
    border-top: 3px solid $taGroupColor8;
}
.ta-color-group-8{
    background: $taGroupColor8;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-9{
    border-top: 3px solid $taGroupColor9;
}
.ta-color-group-9{
    background: $taGroupColor9;
    color: #000;
    .icon-action {
        color: #000;
    }
}
.event-content .ta-color-group-10{
    border-top: 3px solid $taGroupColor10;
}
.ta-color-group-10{
    background: $taGroupColor10;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-11{
    border-top: 3px solid $taGroupColor11;
}
.ta-color-group-11{
    background: $taGroupColor11;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-12{
    border-top: 3px solid $taGroupColor12;
}
.ta-color-group-12{
    background: $taGroupColor12;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-13{
    border-top: 3px solid $taGroupColor13;
}
.ta-color-group-13{
    background: $taGroupColor13;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-14{
    border-top: 3px solid $taGroupColor14;
}
.ta-color-group-14{
    background: $taGroupColor14;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-15{
    border-top: 3px solid $taGroupColor15;
}
.ta-color-group-15{
    background: $taGroupColor15;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-16{
    border-top: 3px solid $taGroupColor16;
}
.ta-color-group-16{
    background: $taGroupColor16;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-17{
    border-top: 3px solid $taGroupColor17;
}
.ta-color-group-17{
    background: $taGroupColor17;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-18{
    border-top: 3px solid $taGroupColor18;
}
.ta-color-group-18{
    background: $taGroupColor18;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.event-content .ta-color-group-19{
    border-top: 3px solid $taGroupColor19;
}
.ta-color-group-19{
    background: $taGroupColor19;
    color: #fff;
    .icon-action{
        color: #fff;
    }
}
.ta-color-group-0.inactive,
.ta-color-group-1.inactive,
.ta-color-group-2.inactive,
.ta-color-group-3.inactive,
.ta-color-group-4.inactive,
.ta-color-group-5.inactive,
.ta-color-group-6.inactive,
.ta-color-group-7.inactive,
.ta-color-group-8.inactive,
.ta-color-group-9.inactive,
.ta-color-group-10.inactive,
.ta-color-group-11.inactive,
.ta-color-group-12.inactive,
.ta-color-group-13.inactive,
.ta-color-group-14.inactive,
.ta-color-group-15.inactive,
.ta-color-group-16.inactive,
.ta-color-group-17.inactive,
.ta-color-group-18.inactive,
.ta-color-group-19.inactive{
    background: #e6e6e6;
    color: #999;
    .icon-action{
        color: #000;
    }
}
.ta-color-group-0.no-effect,
.ta-color-group-1.no-effect,
.ta-color-group-2.no-effect,
.ta-color-group-3.no-effect,
.ta-color-group-4.no-effect,
.ta-color-group-5.no-effect,
.ta-color-group-6.no-effect,
.ta-color-group-7.no-effect,
.ta-color-group-8.no-effect,
.ta-color-group-9.no-effect,
.ta-color-group-10.no-effect,
.ta-color-group-11.no-effect,
.ta-color-group-12.no-effect,
.ta-color-group-13.no-effect,
.ta-color-group-14.no-effect,
.ta-color-group-15.no-effect,
.ta-color-group-16.no-effect,
.ta-color-group-17.no-effect,
.ta-color-group-18.no-effect,
.ta-color-group-19.no-effect{
    background: transparent;
    color: #000;
}
.event-content .ta-color-group-0.no-effect,
.event-content .ta-color-group-1.no-effect,
.event-content .ta-color-group-2.no-effect,
.event-content .ta-color-group-3.no-effect,
.event-content .ta-color-group-4.no-effect,
.event-content .ta-color-group-5.no-effect,
.event-content .ta-color-group-6.no-effect,
.event-content .ta-color-group-7.no-effect,
.event-content .ta-color-group-8.no-effect,
.event-content .ta-color-group-9.no-effect,
.event-content .ta-color-group-10.no-effect,
.event-content .ta-color-group-11.no-effect,
.event-content .ta-color-group-12.no-effect,
.event-content .ta-color-group-13.no-effect,
.event-content .ta-color-group-14.no-effect,
.event-content .ta-color-group-15.no-effect,
.event-content .ta-color-group-16.no-effect,
.event-content .ta-color-group-17.no-effect,
.event-content .ta-color-group-18.no-effect,
.event-content .ta-color-group-19.no-effect{
    border-top: 3px solid transparent;
}
