.tbStep-view-title {
    color: $splunkGreen;
    font-size: 20px;
    height: 20px;
}
.tbStep-view-help-link{
    margin-top: 10px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #4a4a4a;
}
.tbStep-view-content {
    padding-top: 10px;
    height: calc(100% - 70px);
}

.splitHeader {
    font-weight:bold;
    padding:10px;
}
